a {
	color: white;
	font-family: 'Lato', sans-serif;
	text-align: center;
	text-decoration: none;
	padding: 10px 5px;
	display: block;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

body{
  margin: auto;
}

h1 {
  font-family: 'Bad Script', cursive;
  color: orangered;
}

li {
	float: left;
	padding: 5px 30px;
}

li a {
    display: block;
    padding: 8px 16px;
    width: 60px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
  font-family: 'Lato', sans-serif;
}

.checkboxText {
  font-family: 'Lato', sans-serif;
}

.button {
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
}

.buttonCart {
    border-radius: 10px;
    position:relative;
    padding:6px 15px;
    left:-8px;
    height: 60px;
    width: 320px;
    border:2px solid #B2C49D;
    background-color:#D2D420;
    font-size: 20px;
    /*color:#fafafa;*/
}

.colorChoice {
    border-radius: 5px;
    height: 20px;
    margin: 10px;
    width: 20px;
    border: 2px solid #000000;

}

.footer{
    background-color: rgb(110,129,84);
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    height: 40px;
    /*margin: 0;*/
    /*padding: 10;*/
    text-align: center;
}

.header{
    background-color: rgb(110,129,84);
    height: 100px;
    margin: 0;
    padding: 0;
}

.leftScreen{
	border: 3px solid #73AD21;
  width: 80%;
  /*margin: 0px 20px;*/
}

.muddyPawsImage{
	position: absolute;
	height: 95px;
    left: 40px;
    top: 5px;
  	width: 95px;
}

.mainScreen{
  display: flex;
}

.productInfo{
	border: 3px solid #73AD21;
}

/*.mainPageProductAllInfoCenter{
	float: left;
  	border: 3px solid #73AD21;
  	width: 20%;
  	text-align: center;
}*/

.productImage{
	height: 150px;
  margin: 20px 65px;
  width: 150px;
  border: 3px solid #73AD21;
}

.productMiniCards{
    border-radius: 10px;
    height: 80px;
    width: 80px;
    /*padding: 15px;
    position: absolute;
    text-align: center;
    align-self: center;
    top: 590px;
    left: 450px;*/
    border: 2px solid #999999;
}

.productTitle{
    margin: auto;
    width: 90%;
    /*border: 3px solid #73AD21;*/
    padding: 10px;
}

.rightScreen{
  border: 3px solid #73AD21;
  width: 20%;
}

.search{
	/*align-self: center;*/
	/*margin: auto;*/
 	top: 50%;
 	left:50%;
}

.searchBar {
  width: 50%;
  height: 30px;
  border-radius: 5px;
  margin: 22px;
  padding: 6px;
}

.searchButton {
  /*position: absolute;  
  right: -50px;*/
  width: 40px;
  height: 36px;
  /*border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;*/
}

.shoppingCartImage{
	position: absolute;
	height: 80px;
	width: 80px;
	right: 100px;
	top: 20px;
}

.shoppingCartText{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	position: absolute;
	right: 50px;
	top: 57px;
}

.starsMainPage{
	height: 15px;
}

.topnav {
    background-color: rgb(63,74,48);
    height: 30px;
    padding: 10px 25px;
}

.verticalLine {
  border-left: solid #979797;
}
