
body{
  margin: auto;
}

h1 {
  font-family: 'Bad Script', cursive;
  color: orangered;
}

p {
  text-align: left;
  font-family: 'Lato', sans-serif;
}


.header{
    background-color: rgb(110,129,84);
    height: 100px;
    margin: 0;
    padding: 0;
}

.muddyPawsImage{
	position: relative;
    left: 30px;
  	width: 7em;
}

a {
	color: white;
	font-family: 'Lato', sans-serif;
	text-align: center;
	text-decoration: none;
	padding: 20;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

.mainPageImage{
  width: 90em;
  height: 30em;
  margin: 30px;
}

.topnav {
    background-color: rgb(63,74,48);
    height: 50px;
    padding: 10px 25px;
}
