a {
	color: white;
	font-family: 'Lato', sans-serif;
	text-align: center;
	text-decoration: none;
	padding: 20;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

body{
  margin: auto;
}

h1 {
  font-family: 'Bad Script', cursive;
  color: orangered;
}

/*p {
  text-align: left;
  font-family: 'Lato', sans-serif;
}*/

.footer{
    background-color: rgb(110,129,84);
    font-family: 'Lato', sans-serif;
    height: 50px;
    margin: 0;
    padding: 0;
}

.header{
    background-color: rgb(110,129,84);
    height: 100px;
    margin: 0;
    padding: 0;
}

.left_arrow{
	position: absolute;
	left: 50px;
    top: 400px;
}

.left_arrow_products{
	height: 70px;
	position: absolute;
	left: 50px;
    top: 850px;
}

.muddyPawsImage{
	position: absolute;
	height: 95px;
    left: 40px;
    top: 5px;
  	width: 95px;
}

.mainPageImage{
  width: 90em;
  height: 30em;
  margin: 30px;
}

.mainPageProductImage{
	height: 12em;
  	margin: 70px;
  	width: 12em;
}

.right_arrow{
	position: absolute;
	right: 50px;
    top: 400px;
}

.right_arrow_products{
	height: 70px;
	position: absolute;
	right: 50px;
    top: 850px;
}

.search{
	/*align-self: center;*/
	/*margin: auto;*/
 	top: 50%;
 	left:50%;
}

.searchBar {
  width: 50%;
  height: 30px;
  border-radius: 5px;
  margin: 22px;
  padding: 6px;
}

.searchButton {
  /*position: absolute;  
  right: -50px;*/
  width: 40px;
  height: 36px;
  /*border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;*/
}

.shoppingCartImage{
	position: absolute;
	height: 80px;
	width: 80px;
	right: 100px;
	top: 20px;
}

.shoppingCartText{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	position: absolute;
	right: 50px;
	top: 57px;
}

.textBox{
    background-color: rgb(110,129,84);
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    height: 50px;
    width: 600px;
    /*margin: auto;*/
    padding: 15px;
    position: absolute;
    text-align: center;
    align-self: center;
    top: 640px;
    left: 450px;
}

.topnav {
    background-color: rgb(63,74,48);
    height: 50px;
    padding: 10px 25px;
}
