a {
	color: white;
  display: block;
	font-family: 'Lato', sans-serif;
  padding: 10px 5px;
	text-align: center;
	text-decoration: none;
}

li {
	float: left;
	padding: 5px 30px;
}

li a {
    display: block;
    padding: 8px 16px;
    width: 60px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
  font-family: 'Lato', sans-serif;
}

.button-cart {
  background-color:#d2d420;
  border:2px solid #b2c49d;
  border-radius: 10px;
  font-size: 20px;
  height: 60px;
  left:-8px;
  position:relative;
  width: 320px;
}

#button-checkout {
  background-color:#d2d420;
  border:2px solid #b2c49d;
  border-radius: 10px;
  font-size: 20px;
  height: 50px;
  margin-left: 20px;
  position:relative;
  width: 250px;
}

.button-search {
  background-color:#207cca;
  color:#fafafa;
  height: 50%;
  left:-8px;
  margin: 20px 0;
  padding:6px 15px;
}

.checkbox-text {
  font-family: 'Lato', sans-serif;
}

.checkout-card-info {
  margin-left: 7em;
  margin-top: 6em;
}

.color-choice {
  border: 2px solid #000;
  border-radius: 5px;
  height: 20px;
  margin: 10px;
  width: 20px;
}

.footer {
  background-color: rgb(110,129,84);
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  height: 40px;
  text-align: center;
  width: 1366px;
}

.header {
  background-color: rgb(110,129,84);
  display: flex;
  height: 100px;
  margin: 0;
  padding: 0;
  width: 1366px;
}

.highlight {
  border: 3px solid #2e478c;
  border-radius: 5px;
  height: 20px;
  margin: 10px;
  width: 20px;
}

.horizontalLine {
  border-top: solid #979797;
}

#l-arrow {
	left: 10px;
  position: absolute;
  top: 350px;
}

#l-arrow-prod {
	height: 70px;
  left: 10px;
	position: absolute;
  top: 850px;
}

#l-screen-spec-prod {
  border: 3px solid #73AD21;
  width: 50%;
}

#l-screen-checkout {
  border: 3px solid #73AD21;
  width: 75%;
}

#l-screen-prod-page{
  border: 3px solid #73AD21;
  margin: 0px 20px;
  width: 25%;
}

.main-page-image {
  height: 30em;
  margin: 0px 30px;
  width: 80em;
}

.main-screen {
  display: flex;
}

.muddy-paws-image {
  height: 95px;
  left: 50px;
  margin: 0 50px;
  top: 10px;
  width: 95px;
}

#pop-prod {
  height: 400px;
  margin: 20px 50px;
  width: 1500px;
}

.pop-prod-image {
  height: 12em;
  margin: 20px 55px 0;
  width: 12em;
}

.pop-prod-info {
  float:left;
  text-align: center;
  width: 20%;
}

#prod-flow {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  margin: 10px 20px;
}

#prod-group-cards {
  border: 3px solid #73ad21;
  margin-left: 60px;
  margin-right: 150px;
}

.product-image {
  border: 3px solid #73ad21;
  height: 250px;
  margin: 20px 65px;
  width: 250px;
}

.prod-img-checkout {
  height: 150px;
  margin: 20px 65px;
  width: 150px;
  border: 3px solid #73AD21;
}

#prod-img-sel {
  height: 30em;
  margin: 20px 65px;
  width: 30em;
  border: 3px solid #73AD21;
}

.prod-mini-cards {
  border: 2px solid #999;
  border-radius: 10px;
  height: 80px;
  width: 80px;
    /*padding: 15px;
    position: absolute;
    text-align: center;
    align-self: center;
    top: 590px;
    left: 450px;*/
}

/*.productMiniCards{
    border-radius: 10px;
    height: 80px;
    width: 80px;
    margin-left: 50px;
    /*padding: 15px;
    position: absolute;
    text-align: center;
    align-self: center;
    top: 590px;
    left: 450px;*
    border: 2px solid #999999;
}*/

.product-title {
  margin: auto;
  padding: 10px;
  width: 90%;
}

#r-arrow {
	right: 45px;
  position: absolute;
  top: 350px;
}

#r-arrow-prod {
	height: 70px;
	right: 40px;
  position: absolute;
  top: 850px;
}

#r-screen-spec-prod {
  border: 3px solid #73AD21;
  width: 50%;
}

#r-screen-checkout {
  border: 3px solid #73AD21;
  width: 25%;
}

#r-screen-prod-page {
  border: 3px solid #73AD21;
  width: 75%;
}

.search {
  display: flex;
  margin: 0 100px;
  width: 700px;
}

.search-bar {
  border-radius: 5px;
  height: 30px;
  margin: 22px;
  padding: 6px;
  width: 600px;
}

/*.search-button {
  height: 36px;
  width: 40px;
}*/

#shopping-cart {
  display: flex;
  margin: 0 50px;
}

.shopping-cart-image {
	height: 80px;
	right: 30px;
	top: 20px;
  width: 80px;
}

#shopping-cart-text {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
  padding: 20px;
	top: 57px;
}

.stars-main-page {
	height: 15px;
  vertical-align: middle;
}

.text-box {
  align-self: center;
  background-color: rgb(110,129,84);
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
  height: 50px;
  left: 350px;
  padding: 15px;
  position: absolute;
  text-align: center;
  top: 590px;
  width: 600px;
}

.top-nav {
  background-color: rgb(63,74,48);
  height: 30px;
  padding: 10px 0;
  width: 1366px;
}

.vertical-line {
  border-left: solid #979797;
}
