a {
	color: white;
	font-family: 'Lato', sans-serif;
	text-align: center;
	text-decoration: none;
	padding: 10px 5px;
	display: block;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

body{
  margin: auto;
}

h1 {
  font-family: 'Bad Script', cursive;
  color: orangered;
}

li {
	float: left;
	padding: 5px 30px;
}

li a {
    display: block;
    padding: 8px 16px;
    width: 60px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
  font-family: 'Lato', sans-serif;
}

.button {
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
}

/*.buttonCart {
    border-radius: 10px;
    margin-left: 50px;
    height: 60px;
    width: 320px;
    border:2px solid #B2C49D;
    background-color:#D2D420;
    font-size: 20px;
}*/

.buttonCart {
    border-radius: 10px;
    position:relative;
    /*padding:6px 15px;*/
    left:-8px;
    height: 60px;
    width: 320px;
    border:2px solid #b2c49d;
    background-color:#d2d420;
    font-size: 20px;
    /*color:#fafafa;*/
}

#buttonCheckout {
    border-radius: 10px;
    position:relative;
    height: 50px;
    margin-left: 20px;
    width: 250px;
    border:2px solid #b2c49d;
    background-color:#d2d420;
    font-size: 20px;
}

.checkboxText {
  font-family: 'Lato', sans-serif;
}

.checkoutCardInfo {
  margin-left: 7em;
  margin-top: 6em;
}

.colorChoice {
    border-radius: 5px;
    height: 20px;
    margin: 10px;
    width: 20px;
    border: 2px solid #000000;

}

.footer{
    background-color: rgb(110,129,84);
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    height: 40px;
    /*margin: 0;*/
    /*padding: 10;*/
    text-align: center;
}

.header{
    background-color: rgb(110,129,84);
    height: 100px;
    margin: 0;
    padding: 0;
}

.highlight {
    border-radius: 5px;
    height: 20px;
    margin: 10px;
    width: 20px;
    border: 3px solid #2e478c;
}

.horizontalLine {
  border-top: solid #979797;
}

.left_arrow{
	position: absolute;
	left: 50px;
    top: 350px;
}

.left_arrow_products{
	height: 70px;
	position: absolute;
	left: 50px;
    top: 850px;
}

.leftScreen{
  border: 3px solid #73AD21;
  width: 50%;
}

#leftScreenCheckout {
  border: 3px solid #73AD21;
  width: 75%;
}

#leftScreenProductsPage{
  border: 3px solid #73AD21;
  width: 25%;
  margin: 0px 20px;
}

.muddyPawsImage{
	position: absolute;
	height: 95px;
    left: 40px;
    top: 5px;
  	width: 95px;
}

.mainPageImage{
  width: 90em;
  height: 30em;
  margin: 0px 30px;
}

.mainPageProductAllInfo{
	float:left;
  	/*border: 3px solid #73AD21;*/
  	width: 24%;
  	text-align: center;
}

.mainPageProductImage{
	height: 12em;
  	margin: 20px 65px 0px;
  	width: 12em;
  	/*border: 3px solid #73AD21;*/
}

.mainScreen{
  display: flex;
}

.popularProducts{
    margin: auto;
    width: 90%;
    /*border: 3px solid #73AD21;*/
    padding: 10px;
}

.productFlow {
  font-family: 'Lato', sans-serif;
  margin: 10px 20px;
  font-size: 20px;
}

.productGroupCards{
  border: 3px solid #73ad21;
  margin-left: 60px;
  margin-right: 150px;
}

/*.productImage{
  height: 30em;
  margin: 20px 65px;
  width: 30em;
  border: 3px solid #73AD21;
}*/

.productImage{
  height: 250px;
  margin: 20px 65px;
  width: 250px;
  border: 3px solid #73ad21;
}

.productImageCheckout{
  height: 150px;
  margin: 20px 65px;
  width: 150px;
  border: 3px solid #73AD21;
}

#productImageSpecific{
  height: 30em;
  margin: 20px 65px;
  width: 30em;
  border: 3px solid #73AD21;
}

.productInfo{
  border: 3px solid #73AD21;
}

.productMiniCards{
    border-radius: 10px;
    height: 80px;
    width: 80px;
    /*padding: 15px;
    position: absolute;
    text-align: center;
    align-self: center;
    top: 590px;
    left: 450px;*/
    border: 2px solid #999999;
}

/*.productMiniCards{
    border-radius: 10px;
    height: 80px;
    width: 80px;
    margin-left: 50px;
    /*padding: 15px;
    position: absolute;
    text-align: center;
    align-self: center;
    top: 590px;
    left: 450px;*
    border: 2px solid #999999;
}*/

.productTitle{
    margin: auto;
    width: 90%;
    /*border: 3px solid #73AD21;*/
    padding: 10px;
}

.right_arrow{
	position: absolute;
	right: 50px;
    top: 350px;
}

.right_arrow_products{
	height: 70px;
	position: absolute;
	right: 50px;
    top: 850px;
}

.rightScreen{
  border: 3px solid #73AD21;
  width: 50%;
}

#rightScreenCheckout {
  border: 3px solid #73AD21;
  width: 25%;
}

#rightScreenProductsPage{
  border: 3px solid #73AD21;
  width: 75%;
}

.search{
	/*align-self: center;*/
	/*margin: auto;*/
 	top: 50%;
 	left:50%;
}

.searchBar {
  width: 50%;
  height: 30px;
  border-radius: 5px;
  margin: 22px;
  padding: 6px;
}

.searchButton {
  /*position: absolute;  
  right: -50px;*/
  width: 40px;
  height: 36px;
  /*border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;*/
}

.shoppingCartImage{
	position: absolute;
	height: 80px;
	width: 80px;
	right: 100px;
	top: 20px;
}

.shoppingCartText{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	position: absolute;
	right: 50px;
	top: 57px;
}

.starsMainPage{
	height: 15px;
}

.textBox{
    background-color: rgb(110,129,84);
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    height: 50px;
    width: 600px;
    /*margin: auto;*/
    padding: 15px;
    position: absolute;
    text-align: center;
    align-self: center;
    top: 590px;
    left: 450px;
}

.topnav {
    background-color: rgb(63,74,48);
    height: 30px;
    padding: 10px 25px;
}

.verticalLine {
  border-left: solid #979797;
}
